.wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  transition: transform 1s;
  scroll-behavior: smooth;
}

.languageIndicator {
  position: fixed;
  top: 20px;
  right: 20px;
  transition: opacity 1s;
}

.avatarPage {
  background: var(--background);
  background: linear-gradient(
    135deg,
    rgba(0, 169, 255, 0.5) 0%,
    rgba(0, 37, 255, 0.5) 100%
  );
}

.page {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

@media (prefers-color-scheme: dark) {
  .avatarPage {
    background: var(--background);
  }
}
